.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    border-radius: 1%;
  }
  
  .header {
    font-size: 25px;
    border-bottom: 1px solid;
  }
  
  .teamId {
    font-size: 30px;
  }
  
  .image {
    height: 600px;
  }
  
  .btn {
    display: table;
    width: 100%;
  }